// Styles for the Port component

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  .mat-column-name {
    text-align: center !important;
  }
  
  .mat-column-address {
    text-align: center !important;
  }
  
  .mat-column-countryName {
    text-align: center !important;
  }
  
  .mat-column-cityName {
    text-align: center !important;
  }
}